/* Global Styles */
* {
    font-family: "Helvetica";
    color: #2C3E50;
}

/* Colors for Enabled and Disabled States */
:enabled {
    color: #2C3E50;
}

:disabled {
    color: #95A5A6;
}

/* Table Header Styles */
#TableHeader {
    font: bold 16px;
}

/* QPushButton Styles */
QPushButton {
    background-color: #3498DB;
    /* Blue Color */
    color: #ECF0F1;
    /* Off White Color */
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
}

QPushButton:hover {
    background-color: #2980B9;
}

/* Darker Blue */
QPushButton:pressed {
    background-color: #1ABC9C;
}


/* QComboBox Styles */
QComboBox,
#comboBox QComboBox {
    padding: 5px;
    border: 1px solid #BDC3C7;
    /* Grey Border */
    border-radius: 4px;
    background: #ECF0F1;
    /* Off White Background */
    color: #2C3E50;
    /* Blue Grey Text */
    min-width: 200px;
}

QComboBox QAbstractItemView {
    border: 1px solid #BDC3C7;
    background: #ECF0F1;
}

QComboBox::drop-down {
    width: 20px;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #f0f0f0;
}

QComboBox::down-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    margin-right: 8px;
}

QComboBox::down-arrow:on {
    top: 4px;
    left: 5px;
}

/* QLineEdit Styles */
QLineEdit {
    padding: 5px;
    border: 1px solid #BDC3C7;
    /* Grey Border */
    border-radius: 4px;
    background: #ECF0F1;
    /* Off White Background */
}

QLineEdit:focus {
    border: 1px solid #3498DB;
}

/* Blue Border */

/* QMessageBox Styles */
QMessageBox {
    background: #ECF0F1;
    /* Off White Background */
}

QMessageBox QLabel {
    padding: 10px;
}

/* Group Box Styles */
#StatisticsDisplayGroupBox,
#GraphDisplayGroupBox {
    border: 1px solid #BDC3C7;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #ECF0F1;
}

#StatisticsDisplayGroupBox QLabel,
#GraphDisplayGroupBox QLabel {
    padding-left: 10px;
}